<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Home - Brand</title>
    <link
      rel="stylesheet"
      href="/assets/bootstrap/css/bootstrap.min.css?h=169e3e391469e0b4c739830a2ec61f1b"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/styles.min.css?h=01b3d4734450123d89608400086e84ac"
    />
  </head>
  <body
    id="page-top"
    data-bs-spy="scroll"
    data-bs-target="#mainNav"
    data-bs-offset="77"
    style="
      background: url('/assets/img/DDC.png?h=44c1df1753cb7b79ecb16b53ebcc837a')
          center / cover no-repeat,
        rgb(255, 255, 255);
    "
  >
    <nav
      class="navbar navbar-light navbar-expand-md fixed-top"
      id="mainNav"
      style="background: #000000"
    >
      <div class="container">
        <a class="navbar-brand" href="/">MEDDOC</a
        ><button
          data-bs-toggle="collapse"
          class="navbar-toggler navbar-toggler-right"
          data-bs-target="#navbarResponsive"
          type="button"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
          value="Menu"
        >
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item nav-link">
              <a
                class="nav-link active"
                href="/slc"
                style="
                  backdrop-filter: opacity(0) contrast(68%);
                  --bs-dark: #000000;
                  --bs-dark-rgb: 0, 0, 0;
                  overflow: visible;
                  background: var(--bs-navbar-active-color);
                "
                >LOGIN</a
              >
            </li>
            <li class="nav-item nav-link">
              <a class="nav-link" href="/signup">guest</a>
            </li>
            <li class="nav-item nav-link">
              <a class="nav-link" href="/contact">contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="masthead">
      <div
        class="intro-body"
        style="
          background: url('/assets/img/DDC.png?h=44c1df1753cb7b79ecb16b53ebcc837a')
              no-repeat,
            #ede3e3;
          background-size: cover, auto;
        "
      >
        <div class="container">
          <div class="row" style="padding-top: 306px">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">&nbsp; &nbsp; MEDDOC</h1>
              <p class="intro-text">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; PREVENTION IS BETTER THAN CURE&nbsp;
              </p>
              <a
                class="btn btn-link btn-circle"
                role="button"
                href="/slc"
                style="
                  margin-left: 110px;
                  padding-bottom: 0px;
                  padding-right: 6px;
                  padding-left: 7px;
                "
                ><i class="fa fa-angle-double-down animated"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/script.min.js?h=abade7a6b58120c54533d461e48e360b"></script>
  </body>
</html>
